body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: #2c3e50;
    color: white;
    position: sticky;
    top: 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

section {
    padding: 40px;
}

h2 {
    margin-bottom: 20px;
}

.enroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 15px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

form {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
